{# purpose of this template: files display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'RKDownLoadModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ file|rkdownloadmodule_formattedTitle|default(__('File')) }}{% endblock %}
{% block title %}
    {% set templateTitle = file|rkdownloadmodule_formattedTitle|default(__('File')) %}
    {{ templateTitle|notifyFilters('rkdownloadmodule.filter_hooks.files.filter')|safeHtml }}{% if routeArea == 'admin' %} <small>({{ file.workflowState|rkdownloadmodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('RKDownLoadModule:ItemActionsMenu:menu', [], {entity: file, area: routeArea, context: 'display'}) %}
    <div class="dropdown">
        <a id="itemActions{{ file.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="rkdownloadmodule-file rkdownloadmodule-display">

    <dl>
        {% if file.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ file.workflowState|rkdownloadmodule_listEntry('file', 'workflowState') }}</dd>
        {% endif %}
        {% if file.fileName is not empty %}
            <dt>{{ __('File name') }}</dt>
            <dd>{{ file.fileName }}</dd>
        {% endif %}
        {% if file.myDescription is not empty %}
            <dt>{{ __('My description') }}</dt>
            <dd>{{ file.myDescription|safeHtml }}</dd>
        {% endif %}
        {% if file.startDate is not empty %}
            <dt>{{ __('Start date') }}</dt>
            <dd>{{ file.startDate|localizeddate('medium', 'none') }}</dd>
        {% endif %}
        {% if file.endDate is not empty %}
            <dt>{{ __('End date') }}</dt>
            <dd>{{ file.endDate|localizeddate('medium', 'none') }}</dd>
        {% endif %}
        
    </dl>

    {% if featureActivationHelper.isEnabled(constant('RK\\DownLoadModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'file') %}
        {{ include('@RKDownLoadModule/Helper/includeCategoriesDisplay.html.twig', {obj: file}) }}
    {% endif %}
    {{ include('@RKDownLoadModule/Helper/includeStandardFieldsDisplay.html.twig', {obj: file}) }}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkdownloadmodule.ui_hooks.files.display_view', id=file.getKey(), urlObject=currentUrlObject, outputAsArray=true) %}
    {% if hooks is iterable and hooks|length > 0 %}
        {% for area, hook in hooks %}
            <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
